<p><%= link_to 'Português', root_path(locale: 'pt-BR') %></p>
<p><%= link_to 'English', root_path(locale: 'en') %></p>

<h1>Seja Bem-Vindo!</h1>
<p>Idioma usado nessa aplicação: <strong> <%= t('actual_locale') %> </strong></p>
<p><strong>Date:</strong> <%= l(Date.today) %></p>
<p><%= t('hello') %></p>

<%= render "menu" %><!--renderizando a pagina _menu.thml.erb, dentro desse index-->

<p> Vocẽ está em ambiente de <strong><%= ambiente_rails %></strong></p><!-- Usando helpers -->

<p>Passando nome <strong>"<%= @nome %>"</strong>, pelo req.Params</p>
