<!DOCTYPE html>
<html>
  <head>
    <title>CrypoWallet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    params[:controller], media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag params[:controller], 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <div class="containe-fuid py-2 px-4">
      <ul class="nav justify-content-end px-6 py-2">
        <li class="nav-item px-4">
          <%= link_to t('home'), root_path, class:"btn btn-primary" %>
        </li>
        <div class="btn-group px-2">
          <li class="btn btn-info active" aria-current="page"><%= t('language') %></li>
          <li class="nav-item">
            <%= link_to 'Português', root_path(locale: 'pt-BR'), class:"btn btn-outline-info" %>
          </li>
          <li class="nav-item">
            <%= link_to 'English', root_path(locale: 'en'), class:"btn btn-outline-info" %>
          </li>
        </div>
      </ul>

      <%= yield %>
    </div>
  </body>
</html>
